body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 65px;
  min-height: 100%;
}

[class*='__container'] {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(126, 126, 126);
}

/* Header */

.page-header__container {
  background-color: transparent;
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.page-header__nav {
  position: relative;
  min-height: 60px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
  transition: all 0.3s ease 0s;
}

.logo__web--black {
  color: #000;
}

.logo:hover {
  font-size: 30px;
}

.menu {
  font-size: 0;
}

.menu__item {
  position: relative;
  display: inline-block;
  color: #2196f3;
}

.menu__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-size: 16px;
  color: #000;
  display: inline-block;
  padding: 5px 0px;
  transition: all 0.3s ease 0s;
  position: relative;
}

.menu__link:hover {
  color: #2196f3;
}

.menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transition: width 0.3s ease 0s;
}

.menu__link:hover::after {
  width: 100%;
}

.sub-menu {
  background-color: #333;
  padding: 15px;
  position: absolute;
  min-width: 200px;
  top: 150%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border: 2px solid #000;
  transition: all 0.5s ease 0s;
}

.sub-menu__item {
  color: #fff;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.sub-menu__link {
  font-size: 16px;
  position: relative;
}

.sub-menu__link:hover {
  color: #2196f3;
}

.sub-menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #2196f3;
  transition: width 0.3s ease 0s;
}

.sub-menu__link:hover::after {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
}

.main-title {
  font-weight: 900;
  font-size: 38px;
  color: tomato;

  animation: title 3s ease;
}

.examples__sub-title,
.examples-animation__sub-title {
  transform: translate(0, 50%);
  opacity: 0;
  animation: sub-title 1s ease 2s forwards;
}

@keyframes sub-title {
  0% {
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.examples__title,
.examples-animation__title,
.newton-cradle__title {
  animation: title 3s ease 0.5s;
}

@keyframes title {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* section CSS - переходи*/

.examples {
  /* padding: 20px; */
  margin-bottom: 50px;
}

.examples__transition-duration {
  margin-bottom: 50px;
}

/* transition-duration */

/* .transition-duration {
  background-color: rgb(126, 126, 126);
} */

.transition-duration__list {
  padding: 50px 0px;
  text-align: center;
  border: 1px solid tomato;
}

.transition-duration-list__item {
  display: inline-block;
  padding: 100px 75px;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  color: red;
  border: 1px solid tomato;
}

.transition-duration-list__item:not(:last-child) {
  margin-right: 70px;
}

.transition-duration__list:hover .transition-duration-list__item {
  transform: scale(1.5);
}

.transition-duration-list__item--orange {
  background-color: orange;
  transition-duration: 500ms;
}

.transition-duration-list__item--blue {
  background-color: blue;
  transition-duration: 1000ms;
}

.transition-duration-list__item--green {
  background-color: green;
  transition-duration: 1500ms;
}

/* transition-property */

.examples__transition-property {
  text-align: center;
  margin-bottom: 50px;
}

.transition-property__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #7a956b;
  text-align: center;
  border: 1px solid tomato;
  color: red;
  transition-duration: 0.5s, 1s;
  transition-property: width, height;
}

.transition-property__item:hover {
  width: 900px;
  height: 50px;
  color: white;
  background-color: #77608d;
}

/* transition-delay */

.examples__transition-delay {
  text-align: center;
  margin-bottom: 50px;
}
.transition-delay {
}

.transition-delay__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #7a956b;
  text-align: center;
  border: 1px solid tomato;
  color: red;
  transition-duration: 0.5s, 1s;
  transition-property: width, height;
  transition-delay: 0.5s, 1s;
}

.transition-delay__item:hover {
  width: 900px;
  height: 50px;
  color: white;
  background-color: #77608d;
}

/* transition-timing-function */

.examples__transition-timing-function {
  margin-bottom: 50px;
  padding: 15px;
}

.transition-timing-function__item {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: translatex(300px);
  transition-property: transform;
  transition-duration: 2000ms;
}

.transition-timing-function__item:not(:last-child) {
  margin-bottom: 5px;
}

.examples__transition-timing-function:hover .transition-timing-function__item {
  transform: translatex(900px);
}

.transition-timing-function__item--red {
  background-color: red;
  transition-timing-function: linear;
}

.transition-timing-function__item--blue {
  background-color: blue;
  transition-timing-function: ease;
}

.transition-timing-function__item--green {
  background-color: green;
  transition-timing-function: ease-in;
}

.transition-timing-function__item--yellow {
  background-color: yellow;
  transition-timing-function: ease-out;
}

.transition-timing-function__item--violet {
  background-color: violet;
  transition-timing-function: ease-in-out;
}

.transition-timing-function__item--tomato {
  background-color: tomato;
  transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

/* section CSS - анімація*/

.examples-animation__container {
  outline: 1px solid tomato;
}

[class*='animation-'] {
  text-align: center;
  margin-bottom: 50px;
  outline: 1px solid tomato;
}

/* animation-name */

.animation-name {
}

.animation-name__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: rotate-square-name;
}

@keyframes rotate-square-name {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

/* animation-duration */

.animation-duration {
}

.animation-duration__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: rotate-square-duration;
  animation-duration: 0.5s;
}

@keyframes rotate-square-duration {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

/* animation-timing-function */

.animation-timing-function {
}

.animation-timing-function__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: rotate-square-timing-function;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes rotate-square-timing-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

/* animation-iteration-count */

.animation-iteration-count {
}

.animation-iteration-count__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: rotate-square-iteration-count;
  animation-duration: 3s;
  animation-timing-function: linear;
  /* animation-iteration-count: 5; */
  animation-iteration-count: infinite;
}

@keyframes rotate-square-iteration-count {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* animation-direction */

.animation-direction__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: rotate-square-direction;
  animation-duration: 1s;
  animation-timing-function: linear;
  /* animation-iteration-count: 5; */
  animation-iteration-count: infinite;
  /* animation-direction: normal; */
  /* animation-direction: reverse; */
  /* animation-direction: alternate; */
  animation-direction: alternate-reverse;
}

@keyframes rotate-square-direction {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

/* animation-play-state */

.animation-play-state__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: square-play-state;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  animation-play-state: running;
}

.animation-play-state__item:hover {
  animation-play-state: paused;
}

@keyframes square-play-state {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(200px, 0);
  }
}

/* animation-delay */

.animation-delay__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: square-delay;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-play-state: running;

  animation-delay: 5s;
}

@keyframes square-delay {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(200px, 0);
  }
}

/* animation-fill-mode */

.animation-fill-mode__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #77608d;

  animation-name: square-fill;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 1s;

  animation-fill-mode: forwards;
}

@keyframes square-fill {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(200px, 0);
  }
}

/* --------------- newton-cradle --------------- */

.example-newton-cradle {
  margin-bottom: 50px;
}

.example-newton-cradle__container {
  background-color: #fff;
}

.newton-cradle {
  position: relative;
  width: 280px;
  height: 170px;
  margin: 20px auto;
  padding: 0 0 0 5px;
  border-top: 10px solid silver;
  border-left: 10px solid silver;
  border-right: 10px solid silver;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 3px 10px -3px rgb(0 0 0 / 100%);
}

.newton-cradle::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -70px;

  width: 400px;
  height: 20px;
  border-radius: 25px 25px 0 0;
  background: radial-gradient(silver, lightgray, silver);
  border: 2px solid silver;
  box-shadow: 1px 5px 10px 3px rgb(0 0 0 / 10%);
}

.newton-cradle__ball {
  z-index: 0;
  float: left;
  position: relative;
  margin-top: 100px;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 65% 15%, white 1px, lightgray 3%, gray 60%, lightgray 100%);
  box-shadow: 1px 5px 10px 3px rgb(0 0 0 / 10%);
  border-radius: 50%;
  transform-origin: 50% -100px;
}

.newton-cradle__ball::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  filter: blur(5px);
}

.newton-cradle__ball::after {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: 24px;
  height: 100px;
  width: 1px;
  background: black;
}

.newton-cradle__ball:nth-child(1) {
  animation: ball1 0.5s infinite alternate 0.5s ease-out;
}

.newton-cradle__ball:nth-child(5) {
  animation: ball5 0.5s infinite alternate ease-out;
}

@keyframes ball1 {
  0%,
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes ball5 {
  0%,
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-30deg);
  }
}

/* footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
